.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.error {
  color: rgb(241, 77, 77);
  font-size: 14px;
}
.form-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.form-text a {
  color: rgb(124, 77, 241);
}