.user__form-inputs {
  padding: 42px 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  row-gap: 18px;
}
.user__form-inputs .button {
  box-shadow: 0 0 0 2px #1d1d1d;
  height: 46px;
  grid-row: 3;
  grid-column: 1;
}
.user__form-inputs .input {
  height: 46px;
}

@media screen and (max-width: 1080px) {
  .user__form-inputs {
    padding: 32px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}

@media screen and (max-width: 780px) {
  .user__form-inputs {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}

@media screen and (max-width: 580px) {
  .user__form-inputs {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
  }
  .user__form-inputs .button {
    grid-row: 5;
  }
}